
/*FUENTES*/

@font-face{
    font-family: "Barlow";
    src: url(./fonts/BarlowCondensed-Medium.ttf) ; 
}

@font-face{
     font-family: "PatrickHand";
     src: url(./fonts/PatrickHand-Regular.ttf);
}
 
@font-face{
     font-family: "Raleway";
     src: url(fonts/Raleway-Medium.ttf)
}
 
@font-face {
     font-family: "IndieFlower";
     src: url(fonts/IndieFlower-Regular.ttf);
}


/* BODY */

body{
    background-color: rgb(240,243,189);
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    text-align: center;
}

/* TEXTO GENERAL (p, a, h) */

p {
    font-size: 1em;
    color: whitesmoke  ;
}


a {
 text-decoration: none;
 color: rgb(67, 170, 139);
 margin-right: 2%;
}

h1 { 
    font-size: 3.5em;
    font-family: "Barlow";
    text-shadow: 3px 3px 1px black;
    color: rgb(240,243,189);
    padding: 0;
    margin: 0;
}

h2{ 
    font-size: 1.5em;
    color:rgb(240,243,189);
    font-family: "IndieFlower";
    text-shadow: 3px 3px 1px black;
    padding: 0;
    margin: 0;
    
}

/* HEADER */

.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(87,117,144);
    margin: 0;
    padding: 0;
}


.lente {
    width: 10%;
    height: inherit;
    margin: 2%;
    margin-right: 3%;
}


.container-nav {
    display: flex;
    align-items: center;
    width: 80%;

}

nav {
    display: flex;
    justify-content: space-evenly;
}

/* SECTION 1 TÍTULO */

.mk {
    height: 35vh;
    background-color: rgb(144,190,109);
    margin: 0;
    padding: 0;
    
}


/* SECTION = SERVICIOS */

.servicios {

    height: 30%;
    background: linear-gradient(90deg, rgba(243,114,44,1) 0%, rgba(248,151,30,1) 46%, rgba(249,199,79,1) 100%);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.servicios img {
    width: 50%;
    margin: 5%;
    padding: 0;
}

.container-ph {
    text-align: center;
        
}


.container-web {
    text-align: center;
    
}


.container-asesoria {
    text-align: center;
}




/* SECTION = TESTIMONIOS */

.testimonios {
    background: linear-gradient(90deg, rgba(243,114,44,1) 0%, rgba(248,151,30,1) 46%, rgba(249,199,79,1) 100%);
    /*background: linear-gradient(270deg, rgba(243,114,44,1) 0%, rgba(248,151,30,1) 46%, rgba(249,199,79,1) 100%);*/
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

}

.wicked { 
    width: 25%;
    height: inherit;
    
}

.benja {
    width: 25%;
    height: inherit;
}

.trece { 
    width: 25%;
    height: inherit;
    
}

.lado {
    width: 25%;
    height: inherit;
}

.chano { 
    width: 25%;
    height: inherit;
    
}

/* SECTION = FOOTER */

footer {

    display: flex;
    align-items: center;
    background-color:rgb(87,117,144) ;
    width: 100%;
}

.formulario { 
    
}

.derechos {
    display: block;
    text-align: center;
    font-family: "Barlow";
    font-size: 1em;

}

