/*FUENTES*/

@font-face{
   font-family: "Barlow";
   src: url(./fonts/BarlowCondensed-Medium.ttf) ; 
}

@font-face{
    font-family: "PatrickHand";
    src: url(./fonts/PatrickHand-Regular.ttf);
}

@font-face{
    font-family: "Raleway";
    src: url(fonts/Raleway-Medium.ttf)
}

@font-face {
    font-family: "IndieFlower";
    src: url(fonts/IndieFlower-Regular.ttf);
}

/*BODY (hacer menor cantidad de cambios posible)*/

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    background-color: antiquewhite;
}

/*Textos H1 H2 H4 P*/

h1 { 
    
    font-size: 3.5em;
    font-family: "Barlow";
    text-shadow: 3px 3px 1px black;
    color:lightsalmon;

}

h2{ 
    font-size: 1.5em;
    color:seashell;
    text-shadow: 3px 3px 1px black;
    
}

h4 {
    display: inline-block;
    font-size: 1em;
    color:tomato;
    text-align: center;
}

p {
    font-size: 1em;
    color: crimson;
}


/*HEADER*/

header {
    background-image: url(img/FondoFloresBlancas.JPG) ;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100%;
    background-position: center;
    height: 90vh;
    width: 100%;
    padding: 0 ;
    margin-bottom: 0;
    
}

.headings {
    text-align: center;
    margin-top: 10%;

}

/*NAVIGATION: falta aplicar GRID a links*/

.navigation-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    background: lightgoldenrodyellow ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.logo {
    display: inline-block;
    height: 80%;
    margin-left: 2%;
}

.navigation{

    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-left: 5%;
    padding: 0;
}

.navigation a {
    margin: 8%;
    text-decoration: none;
    color: tomato
}

.navigation a:hover{
    margin: 8%;
    text-decoration: none;
    color: darkred
}

main {
    background-color: antiquewhite;
    text-align: center;
}



/*ABOUT: darle forma al texto*/
.about-container {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.about-img {
    display: inline-block;
    height: 50vh;
    
}



/*PORTFOLIO: animar categorías a blur, byn y agregar texto?*/

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.port-retratos {
     margin: 10px;
    
}

.port-retratos:hover {
    filter: grayscale(100%);
       
}

.port-sociales { 
    margin: 10px;

}

.port-sociales:hover {
    filter: grayscale(100%);
        
 }

.port-bandas {
    margin: 10px;

}

.port-bandas:hover {
    filter: grayscale(100%);
        
 }


.port-documental {
    margin: 10px;

}

.port-documental:hover {
    filter: grayscale(100%);
        
 }



/*AGREGAR SECTION SHOP*/


/*CONTACTO: falta alinear formulario */

.contacto {
    margin: 20px;
    display: flex;
    align-items: center;
         
}

.form-container {
  
}

.newsletter-container {
    text-align: end;
}





/*FOOTER*/

footer {
    height: 15vh;
   text-align: center;
}

.derechos {
    text-align: center;
    font-family: "Barlow";
    font-size: 1em;

}
