.primero {
 height: 200px;
 width: 200px;
 border: solid, 3px, black;

}

.segundo {
    height: 200px;
    width: 200px;
    border: solid, 3px, black;

}

.tercero {
    height: 200px;
    width: 200px;
    border: solid, 3px, black;
}

.cuadradoA {

height: 50px;
width: 50px;
color: tomato;

}