main {
    background-color: black;
    margin: 0;
    padding: 0;
}



.izquierda {
   display: inline-block;
   text-align: center;
   height: 100vh;
   margin: 0;
   padding: 0;
}

.izquierda img {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 50vw;
}



.derecha {
    display: inline-block;
    text-align: center;
    height: 100vh;
    display: inline-block;
}

.cuadrado { 
    display: inline-block;
    text-align: center;
    background-color: floralwhite;
    height: 500px;
    width: 500px;

}
.cuadrado img {
  display: inline-block;
  height: 30%;
  width: 30%;
}

form {
    text-align: center;
}

.cuadrado {
    width: 500px;
    height: 500px;
    background-color:red ;
}

.cuadrado {
    width: 500px;
    height: 500px;
    background-color:blueviolet ;
}

.cuadrado {
    width: 500px;
    height: 500px;
    background-color:red ;
}

.cuadrado {
    width: 500px;
    height: 500px;
    background-color:red ;
}